.divs-facilidades {
  width: 325px;
}

.botao-lilas {
  background-color: #9353FF;
}

.verde-limao {
  color: #DAFF01;
}

.div-novidades {
  width: 325px;
}

@media(min-width: 768px) {

  .div-novidades {
      width: 696px;
  }

}